.scoreboard-container {
  margin: 20px auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.9);
  backdrop-filter: blur(10px);
  max-width: 1400px;
  width: 84em;
  max-height: 90vh; /* Adjust this value as needed */
  overflow-y: auto; /* Make the container scrollable */
}

.scoreboard-table {
  width: 100%;
  border-collapse: collapse;
}

.scoreboard-table th,
.scoreboard-table td {
  padding: 15px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  font-size: 1.2em;
}

.scoreboard-table thead tr th {
  margin: 2px;
  border: 2px solid #fff;
  border-radius: 5px;
  text-align: center;
}

.scoreboard-table th {
  background-color: #6c6c6c;
  color: white;
  font-size: 1.5em;
}

.scoreboard-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.scoreboard-table tr:hover {
  background-color: #d6d6d6;
  transition: background-color 0.3s ease-in;
}

tr {
  border-radius: 10px;
}

.score-row {
  color: #3a3a3a;
}

.score-row td {
  text-align: center;
}

.scoreboard-table .score-row:hover {
  background-color: #f1f1f1;
  transition: background-color 0.3s ease-in;
}

.score-value {
  font-weight: bold;
  color: #d6180ed4;
}

.scoreboard-table tr.active {
  background-color: #5035ff !important;
  color: rgb(0, 0, 0);
}

.scoreboard-table tr.active:hover {
  background-color: #050000 !important;
  transition: background-color 0.3s ease-in;
}

@media (max-width: 600px) {
  .scoreboard-table th,
  .scoreboard-table td {
    padding: 10px;
    font-size: 0.9em;
  }
}
